.wlTop
{
    display: flex;
    gap: 415px;
}

.wlTopText
{
    display: flex;
    gap: 15px;
}

.wlLogo
{
    height: 100px;
    width: 150px;
}

.wlTextAnime
{
    color: black;
    font-weight: normal;
    background: none;
    border: none;
    font-size: 20px;
}

.wlTextRec 
{
    color: black;
    background: none;
    border: none;
    font-size: 20px;
}

.wlTextWL {
    color: red;
    font-weight: normal;
    background: none;
    border: none;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}

.wlLO 
{
    color: Black;
    font-weight: normal;
    background: #f5f5f5;
    font-size: 20px;
    height: 50px;
    width: 100%;
}

.wlButtonArea
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wlLine {
    border-top: 1px solid black;
    width: 100%;
  }

.wlIntroText
{
    margin: 20px;
}