.wlTop
{
    display: flex;
    /* gap: 415px; */
    justify-content: space-between;
}

.wlTopText
{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.wlLogo
{
    width: 150px;
}

.wlTextAnime
{
    color: black;
    font-weight: normal;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.wlTextRec 
{
    color: black;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.wlTextWL {
    color: #B81413;
    font-weight: normal;
    background: none;
    border: none;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.wlLO 
{
    color: Black;
    font-weight: normal;
    background: #f5f5f5;
    font-size: 20px;
    height: 50px;
    width: 100%;
    border-radius: 8%;
}

.wlButtonArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.wlButtonArea :hover {
    cursor: pointer;
}

.wlLine {
    border-top: 1px solid black;
    width: 100%;
  }

  .mangaBody {
    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
  }

.wlcText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .discover {
    font-size: 30px;
  }
  
  .ultimate {
    font-size: 20px;
  }

  .mTextOther {
    text-align: left;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
  }
  
  .mAnimeContainer {
      width: 100%;
      margin: auto auto;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .mAnimeView {
      display: flex;
      flex-wrap: nowrap;
      /* width: 1520px; */
      height: 400px;
      overflow-x: scroll;
  }
  
  .mAnime {
      margin-right: 20px;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      height: 310px;
      float: left;
  }
  
  .mAnime :hover {
      cursor: pointer;
  }
  
  .mAnime img {
      display: block;
      margin: 0 auto;
      width: 195px;
      height: 262.5px;
      /* width: 130px;
      height: 175px; */
      object-fit: cover;
      border-radius: 10px;
  }
  
  .mAnime p {
      margin-top: 10px;
      text-align: center;
      word-wrap: break-word;
  }