.recTop
{
    display: flex;
    /* gap: 415px; */
    justify-content: space-between;
}

.recTopText
{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.recLogo
{
    width: 150px;
}

.recTextAnime
{
    color: black;
    font-weight: normal;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.recTextRec 
{
    color: #B81413;
    text-decoration: underline;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.recTextWL {
    color: black;
    font-weight: normal;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.recLO 
{
    color: Black;
    font-weight: normal;
    background: #f5f5f5;
    font-size: 20px;
    height: 50px;
    width: 100%;
    border-radius: 8%;
}

.recButtonArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.recButtonArea :hover {
    cursor: pointer;
}

.recLine {
    border-top: 1px solid black;
    width: 100%;
  }

.recBody {
    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
}

.wlcText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .discover {
    font-size: 30px;
  }
  
  .ultimate {
    font-size: 20px;
  }

.animeFormArea 
{
    padding: 20px;
}

/* .recAnimeWrapper {
    width: 100%;
    overflow-x: auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
} */

.recAnimeContainer {
    /* width: 100%;
    margin: 0 auto; */
    width: 100%;
    margin: auto auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recAnimeView {
    display: flex;
    flex-wrap: nowrap;
    /* width: 1520px; */
    height: 400px;
    overflow-x: scroll;
    /* display: flex;
    flex-wrap: nowrap;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%); */
}

.recAnime {
    margin-right: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 310px;
}

.recAnime img {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 262.5px;
    object-fit: cover;
    border-radius: 10px;
}

.recAnime p {
    margin-top: 10px;
    text-align: center;
    word-wrap: break-word;
}

.recModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
  }

  .recBtnArea
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formText
  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
  }

  .getBtn {
    margin-top: 8px;
  }

  .title {
    text-align: start;
    margin-left: 20px;
  }

  .text1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
  }

  .text2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
  }

  /*new stuff*/
  .recs-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0.5em;
    border-radius: 0.5em;
  }
  
  .filters {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .filters li {
    margin-right: 1em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .filters li:hover {
    color: #B81413;
  }

  .recs-search {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .genre-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .rating-search {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .eps-search {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .stat-search {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .input {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .search-bar {
    display: flex;
    width: 90%;
    font-size: 100px;
  }
  
  .search-bar input {
    flex-grow: 1;
    padding: 0.5em;
    border-radius: 10px;
  }
  
  .getBtn {
    border-radius: 0 1em 1em 0;
  }
  