.homeTop {
    display: flex;
    /* gap: 430px; */
    justify-content: space-between;
}

.homeTopText {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.homeLogo {
    width: 150px;
}

.homeTextAnime {
    color: #B81413;
    text-decoration: underline;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.homeTextAnime :hover {
    cursor: pointer;
}

.homeTextRec {
    color: black;
    font-weight: normal;
    background: none;
    border: none;
    font-size: 25px;

}

.homeTextRec :hover {
    cursor: pointer;
}

.homeTextWL {
    color: black;
    font-weight: normal;
    background: none;
    border: none;
    font-size: 25px;
}

.homeTextWL:hover {
    cursor: pointer;
}

.homeLO 
{
    color: Black;
    font-weight: normal;
    background: #f5f5f5;
    font-size: 20px;
    height: 50px;
    width: 100%;
    border-radius: 8%;
}

.homeButtonArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.homeButtonArea :hover {
    cursor: pointer;
}

.homeAnimeWrapper {
    width: 100%;
    overflow-x: auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.homeAnimeContainer {
    width: 100%;
    margin: 0 auto;
}

.homeAnimeView {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.homeAnime {
    margin-right: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 230px;
}

.homeAnime :hover {
    cursor: pointer;
}

.homeAnime img {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
}

.homeAnime p {
    margin-top: 10px;
    text-align: center;
}

.homeTextOther {
    margin: 10px;
    padding: 5px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
  }

  .homeBtnArea
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homeLine {
    border-top: 1px solid black;
    width: 100%;
  }
  
